1. What exactly is []?
2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
3. What is the value of spam[int(int('3' * 2) / 11)]?
4. What is the value of spam[-1]?
5. What is the value of spam[:2]?
Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
6. What is the value of bacon.index('cat')?
7. How does bacon.append(99) change the look of the list value in bacon?
8. How does bacon.remove('cat') change the look of the list in bacon?
9. What are the list concatenation and list replication operators?
10. What is difference between the list methods append() and insert()?
11. What are the two methods for removing items from a list?
12. Describe how list values and string values are identical.
13. What's the difference between tuples and lists?
14. How do you type a tuple value that only contains the integer 42?
15. How do you get a list value's tuple form? How do you get a tuple value's list form?
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [ ]:
#1. What exactly is []?

this is a empty list means a  list that contains no items.

In [ ]:
# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
spam = [2, 4, 6, 8, 10]
spam[2]= 'hello'
spam

[2, 4, 'hello', 8, 10]

In [ ]:
#Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [9]:
spam =  ['a', 'b', 'c', 'd']
#3. What is the value of spam[int(int('3' * 2) / 11)]?

Ans: int('3' * 2)---------------33
    int('3' * 2) / 11----------3.0
    int(int('3' * 2) / 11)-------3
    spam[int(int('3' * 2) / 11)]= spam[3]---------'d'

In [ ]:
#4. What is the value of spam[-1]?..........ans : 'd'

In [11]:
spam[-1]

'd'

In [ ]:
#5. What is the value of spam[:2]?..........ans: ['a','b']

In [12]:
spam[:2]

['a', 'b']

In [ ]:
#Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [2]:
bacon=[3.14, 'cat', 11, 'cat,' 'True']
bacon

[3.14, 'cat', 11, 'cat,True']

In [ ]:
#6. What is the value of bacon.index('cat')?
# ans : index is 1 or -4

In [3]:
#7. How does change the look of the list value in bacon?
# ans :[3.14, 'cat', 11, 'cat,True', 99]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat,True', 99]

In [4]:
#8. How does bacon.remove('cat') change the look of the list in bacon?------[3.14, 11, 'cat,True', 99]
bacon.remove('cat')  # it remove first cat value.
bacon

[3.14, 11, 'cat,True', 99]

In [ ]:
#9. What are the list concatenation and list replication operators?

The operator for list concatenation is +, while the operator for replication is *. (This is the same as for strings.)
In concatentation only run time changes takes place.original list must not change

In [24]:
#EXAMPLE of list concatenatio
l1=[ 'shweta',1,33," ram"]
l2= ["kanhere", 24, 'shyam']
c=l1+l2
c

['shweta', 1, 33, ' ram', 'kanhere', 24, 'shyam']

In [25]:
#EXAMPLE of list concatenatio
d=l2*3
d

['kanhere', 24, 'shyam', 'kanhere', 24, 'shyam', 'kanhere', 24, 'shyam']

['kanhere', 24, 'shyam', 'kanhere', 24, 'shyam', 'kanhere', 24, 'shyam']

In [17]:
#10. What is difference between the list methods append() and insert()?

While append() will add values only to the end of a list, insert() can add them anywhere in the list where we give the position like insert(position, new_entry),insert expected 2 arguments.

In [27]:
# example for append
z=[ 23,45,"shweta"]
z.append("kanhere")
z

[23, 45, 'shweta', 'kanhere']

In [29]:
# example for insert
z=[ 23,45,"shweta"]
z.insert(1,"kanhere")
z

[23, 'kanhere', 45, 'shweta']

In [30]:
#11. What are the two methods for removing items from a list?

In Python, there are many methods available on the list data type that help us to  remove an element from a given list. 
These methods are  : remove(), pop() and clear(), del keyword is also use to remove items from a list.

In [35]:
nlist = [112, 34, 'Ram', 'Shyam', 141, 'Riya', 112, 'Riya'] 
nlist

[112, 34, 'Ram', 'Shyam', 141, 'Riya', 112, 'Riya']

In [36]:
# using remove() method:
nlist.remove(112) # it will remove the element 112 at the start.
nlist

[34, 'Ram', 'Shyam', 141, 'Riya', 112, 'Riya']

In [41]:
#pop() method
nlist = [112, 34, 'Ram', 'Shyam', 141, 'Riya', 112, 'Riya']
nlist.pop(-4) # it will pop  the item 114 whose index is -4 from the list .
nlist

[112, 34, 'Ram', 'Shyam', 'Riya', 112, 'Riya']

In [45]:
# clear () method
nlist = [112, 34, 'Ram', 'Shyam', 141, 'Riya', 112, 'Riya']
nlist.clear() # it will delet all the items from the list .
nlist

[]

In [ ]:
# clear () method
nlist = [112, 34, 'Ram', 'Shyam', 141, 'Riya', 112, 'Riya']
nlist.clear() # it will delet all the items from the list .
nlist

In [50]:
# del keyword
nlist = [112, 34, 'Ram', 'Shyam', 141, 'Riya', 112, 'Riya']
del nlist[-4] # it will delet respective index items from the list .
nlist

[112, 34, 'Ram', 'Shyam', 'Riya', 112, 'Riya']

In [51]:
nlist

[112, 34, 'Ram', 'Shyam', 'Riya', 112, 'Riya']

In [48]:
del nlist[2:4]
nlist

[112, 34, 'Riya']

In [ ]:
#Describe how list values and string values are identical.

Lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

In [ ]:
#What's the difference between tuples and lists?

Lists are mutable; we can added, removed, or changed the values. 
Tuples are immutable; we cannot changed the values after initilization at all.
Tuples are written using parentheses  ( ), while lists use the square brackets, [ ].

In [ ]:
#14. How do you type a tuple value that only contains the integer 42?
#Answer: t=(42,) .we can use comma to seperate the values.

In [ ]:
#15. How do you get a list value's tuple form? How do you get a tuple value's list form?

The tuple() and list() functions, respectively
example
l= [23,34,2,"ram"]
tuple(l).......answer : (23, 34, 2, 'ram')
l= (23, 34, 2, 'ram')
list[l].........answer: list[23, 34, 2, 'ram']

In [53]:
l= [23,34,2,"ram"]
tuple(l)

(23, 34, 2, 'ram')

In [55]:
l= (23, 34, 2, 'ram')
list[l]

list[23, 34, 2, 'ram']

In [ ]:
#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Variables will contain references to list values rather than list values themselves

In [ ]:
#17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy() create reference to original object. If we change copied object then we change the original object. 
deepcopy() creates new object and does real copying of original object to new one. 
Changing new deepcopied object doesn't affect original object.

In [56]:
#Example
l5=[2,3,5,688,23]
id(l5)

2639080054656

In [57]:
l6=l5
id(l6)

2639080054656

In [61]:
l7= l5[ : ]
id(l7)

2639080053824

In [ ]:
#END