ASSIGNMENT 2( 21 MAY 2022)

In [ ]:
#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [2]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

# 1 . Try to reverse a list

In [3]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

# 3 . try to access 456

In [5]:
l[5][1]

456

In [ ]:
2. try to access 234 out of this list

In [18]:
l[7][0]

234

In [26]:
a=l[8]
a

{'key1': 'sudh', 234: [23, 45, 656]}

In [29]:
a.keys()

dict_keys(['key1', 234])

In [30]:
type(a.keys())

dict_keys

In [36]:
b=list(a.keys())
b[1]

234

# 4 . Try to extract only a list collection form list l

In [5]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [7]:
l[-4:-2]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

# 5 . Try to extract "sudh"

In [3]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [25]:
a=l[-1]
a

{'key1': 'sudh', 234: [23, 45, 656]}

In [26]:
a['key1']

'sudh'

In [27]:
l[-1]['key1']

'sudh'

# 6.Try to list all the key in dict element avaible in list

In [28]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [32]:
l[-1].keys()

dict_keys(['key1', 234])

In [33]:
list(l[-1].keys())

['key1', 234]

# 7.Try to extract all the value element form dict available in list

In [34]:
list(l[-1].values())

['sudh', [23, 45, 656]]