    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

# q1 : Try to print a prime number in between 1 to 1000

In [7]:
for Number in range (1, 1001):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = ' , ')

 2 ,  3 ,  5 ,  7 ,  11 ,  13 ,  17 ,  19 ,  23 ,  29 ,  31 ,  37 ,  41 ,  43 ,  47 ,  53 ,  59 ,  61 ,  67 ,  71 ,  73 ,  79 ,  83 ,  89 ,  97 ,  101 ,  103 ,  107 ,  109 ,  113 ,  127 ,  131 ,  137 ,  139 ,  149 ,  151 ,  157 ,  163 ,  167 ,  173 ,  179 ,  181 ,  191 ,  193 ,  197 ,  199 ,  211 ,  223 ,  227 ,  229 ,  233 ,  239 ,  241 ,  251 ,  257 ,  263 ,  269 ,  271 ,  277 ,  281 ,  283 ,  293 ,  307 ,  311 ,  313 ,  317 ,  331 ,  337 ,  347 ,  349 ,  353 ,  359 ,  367 ,  373 ,  379 ,  383 ,  389 ,  397 ,  401 ,  409 ,  419 ,  421 ,  431 ,  433 ,  439 ,  443 ,  449 ,  457 ,  461 ,  463 ,  467 ,  479 ,  487 ,  491 ,  499 ,  503 ,  509 ,  521 ,  523 ,  541 ,  547 ,  557 ,  563 ,  569 ,  571 ,  577 ,  587 ,  593 ,  599 ,  601 ,  607 ,  613 ,  617 ,  619 ,  631 ,  641 ,  643 ,  647 ,  653 ,  659 ,  661 ,  673 ,  677 ,  683 ,  691 ,  701 ,  709 ,  719 ,  727 ,  733 ,  739 ,  743 ,  751 ,  757 ,  761 ,  769 ,  773 ,  787 ,  797 ,  809 ,  811 ,  821 ,  823 ,  827 ,  829 ,  839 ,  853 ,  857 ,  859 ,  863 ,  877 ,  881 ,  883 ,  887 ,  907 ,  911 ,  919 ,  929 ,  937 ,  941 ,  947 ,  953 ,  967 ,  971 ,  977 ,  983 ,  991 ,  997 ,

# q2 : Try to write a function which  is equivalent  to print function in python

In [14]:
def myprint ():
        print(" This need to print")

myprint ()

 This need to print

In [15]:
# code 2
def myprint ():
    a= input( " please enter the message here : ")
    return (a)

myprint ()

 please enter the message here : This code is improved version

'This code is improved version'

#    q3 : Try to write a function which is a replica of list append , extend and pop function

In [158]:
def appendshw(n):
    l.append (n)
return l
appendshw()

SyntaxError: 'return' outside function (Temp/ipykernel_4460/3049665779.py, line 3)

In [155]:
l=[1,2,3,4,6]
l

[1, 2, 3, 4, 6]

# q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [17]:
b= lambda c,d : c+ d
b("**coca","cola**")

'**cocacola**'

# q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [43]:
def square(): 
	print([i**2 for i in range(1,100)]) 
 
square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [55]:
A=lambda *b: [b**2 for b in range(1,100)]
A( )

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

# q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [65]:
# 1
l = lambda a, b, c: a + b+ c
l(4,5,6)

15

In [66]:
# 2
l = lambda a, b, c: (a + b) /c
l(4,5,6)

1.5

In [87]:
# 3
list1 = [23,34,10,345,96,45,67 ,4,9 ,45]
a = filter (lambda x: x > 32, list1)
print (list(a))

[34, 345, 96, 45, 67, 45]

In [95]:
#4
c = lambda x: True if x/3 >= 4 else False
c(9)

False

In [101]:
#5
l2 = [41, 22, 32, 64, 45, 64, 57, 18, 91, 10]

z = filter(lambda x: x % 2 != 0, l2)

list(z)

[41, 45, 57, 91]

In [114]:
#6 Table of 4
table = [lambda x= x: x*4 for x in range(1, 11)]
  
for i in table:
    print(i())

4
8
12
16
20
24
28
32
36
40

In [136]:
#7  Identify wheather person is adult or not

ages_List = [28,29,10,9,12,47,18]
adult = list(filter(lambda a: a >=18, ages_List))
print(adult)

[28, 29, 47, 18]

In [135]:
#8 write the List element in upper case

city = ["nagpur","Pune","Mumbai","goa"]
up_case = list(map(lambda city: str.upper(city), city))
print(up_case)

['NAGPUR', 'PUNE', 'MUMBAI', 'GOA']

In [152]:
#10 Define shweta_K as a lambda function: shweta_K
shweta_K = (lambda word1,shweta : word1 * shweta)
result = shweta_K('Good Morning : ', 3)
print(result)

Good Morning : Good Morning : Good Morning :

# q7 : Try to write a funtion which  can perform a read operation from .txt file

In [145]:
file1 = open("C:\\Users\\Shweta Kanhere\\Desktop\\current work\\pythontest.txt", "r")
print(file1.read())

I am working on my assignment given in the class.

In [156]:
def fun1():
    file1 = open("C:\\Users\\Shweta Kanhere\\Desktop\\current work\\pythontest.txt", "r")
    print(file1.read())
fun1()

I am working on my assignment given in the class.