# 28 MAY ASSIGNMENT 3
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon   ineruon   ineruon
  ineruon    ineruon
      ineruon
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

# q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [24]:
for i in range (1,5):
    
    for j in range (1,i+1):
        print("ineuron", end = " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [31]:
row= int (input( "Enter the no of rows : "))


for i in range (1,row):
    for j in range (1,i+1):
        print("ineuron", end = " ")
    print("\n")

Enter the no of rows : 5
ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

# q2 - 

          ineruon
    ineruon      ineruon
ineruon   ineruon   ineruon
  ineruon    ineruon
      ineruon

In [46]:
n=int(input("Enter no of rows:" )) #n=3
print("\n")
for i in range (n):# i=0,1,2
      print(" "*(n-i-1) + "* "*(i+1))
for i in range (n-1):# n=2, i=0,1
         print(" "*(i+1) + "* "*(n-i-1))

Enter no of rows:3


  *
 * *
* * *
 * *
  *

In [51]:
n=int(input("Enter no of rows:" )) #n=3
print("\n")
for i in range (n):# i=0,1,2
      print("   "*(n-i-1) + " ineruon "*(i+1))
for i in range (n-1):# n=2, i=0,1
         print("   "*(i+1) + " ineruon "*(n-i-1))

Enter no of rows:3


       ineruon
    ineruon  ineruon
 ineruon  ineruon  ineruon
    ineruon  ineruon
       ineruon

In [ ]:
# l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
#q3 : Try to extract all the list entity

In [53]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [60]:
for i in l:
    if type (i)==list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [67]:
#q4 : Try to extract all the dict enteties
for i in l:
    if type (i)==dict :
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [62]:
#q5 : Try to extract all the tuples entities
for i in l:
    if type (i)==tuple :
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [71]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values 
list1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                list1.append(j) # for dic values r pending

In [72]:
list1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

In [73]:
list1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                list1.append(j) # for dic values r pending
    if type(i) == dict:
        for k in i.items(): # gives tupple and then iterate this
            for g in k:
                if type(g)==int:
                    list1.append(g)

In [74]:
list1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [76]:
#q7 : Try to give summation of all the numeric data 
sum(list1)

156

In [80]:
## q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
for i in list1:
    if i%2==0:
        #print (i)   for even data
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [82]:
#q9 : Try to extract "ineruon" out of this data
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [ ]:
l

In [84]:
list2 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i:
            if j=="ineuron":
                list2.append(j)
    if type(i)==dict:
        for k in i.items(): # gives tuples
            for r in k:
                if r== "ineuron":
                    list2.append(r)

In [85]:
list2

['ineuron', 'ineuron']

In [86]:
#q10 :Try to find out a number of occurances of all the data 
list3 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                list3.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int  or type(g) == str:
                    list3.append(g)

In [87]:
list3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [88]:
set(list3) # gives unique values

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [95]:
for i in set(list3):
    print ('number of occurance of :',i ,"  = ", list3.count(i),"time")

number of occurance of : 1   =  1 time
number of occurance of : 2   =  2 time
number of occurance of : 3   =  4 time
number of occurance of : 4   =  4 time
number of occurance of : 5   =  3 time
number of occurance of : 6   =  3 time
number of occurance of : 7   =  2 time
number of occurance of : k2   =  1 time
number of occurance of : k3   =  1 time
number of occurance of : kumar   =  1 time
number of occurance of : 8   =  1 time
number of occurance of : 45   =  1 time
number of occurance of : sudh   =  1 time
number of occurance of : data science    =  1 time
number of occurance of : 23   =  1 time
number of occurance of : k1   =  1 time
number of occurance of : ineuron   =  2 time

In [97]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [96]:
#q11 : Try to find out number of keys in dict element
for i in l:
    if type(i) == dict :
        print(len(i))

5

In [100]:
# q12 : Try to filter out all the string data 
list4 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == str:
                list4.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == str:
                    list4.append(g)
list4

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [101]:
# or
for i in list3 :
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [102]:
#q13 : Try to Find  out alphanum in data
for i in list3 :
    if type(i) == str:
        if i.isalnum:
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [ ]:
for i in l1 :
    if type(i) == str :
        if i.isalnum() : 
            print(i)

In [ ]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [114]:
for i in l :
    a=1
    if type(i) == list  or type(i)  == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                a = a * j
        print(type(i),list(i),"multipilcation :",a)
    if type(i) == dict:
        for k in i.items():
            for r in k:
                if type(r)==int:
                    a = a * r
        print(type(i),list(i),"multipilcation :",a)

<class 'list'> [1, 2, 3, 4] multipilcation : 24
<class 'tuple'> [2, 3, 4, 5, 6] multipilcation : 720
<class 'tuple'> [3, 4, 5, 6, 7] multipilcation : 2520
<class 'set'> [45, 4, 5, 23] multipilcation : 20700
<class 'dict'> ['k1', 'k2', 'k3', 3, 7] multipilcation : 1008
<class 'list'> ['ineuron', 'data science '] multipilcation : 1

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [115]:
# q15 : Try to unwrape all the collection inside collection and create a flat list 
list3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [ ]:
#End